*{
    box-sizing: border-box;
    margin: 0 0 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: hsl(229, 57%, 11%);
    overflow: hidden;
}

ul{
    list-style: none;
}


a{
    text-decoration: none;
    color: black;
}


.landing .background img{
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    position: absolute;
    bottom: -70px;
    
}


.landing .box .left-box{
    width: 300px;
    height: 180px;
    background-color: hsl(228, 56%, 26%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 100px;
    margin-left: 200px;
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    -ms-border-radius: 50;
    -o-border-radius: 50;
}

.landing .box .left-box .text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin-left: 20px;
    
}

.landing .box .left-box .text i{
    color: white;
    margin-left: 10px;
    margin: 0 10px;
}


.landing .box .left-box .text h1{
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.landing .box .left-box .icons{
    display: flex;
    justify-content: center;
    align-items: center;
}


.landing .box .left-box .icons img{
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: hsl(229, 57%, 11%);
    border: 10px solid hsl(229, 57%, 11%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}




.landing .box .right-box{
    width: 500px;
    height: 150px;
    background-color: hsl(228, 56%, 26%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 300px;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}



.landing .box{
    display: flex;
}



.landing .box .right-box .text p{
    color: rgb(161, 183, 201);
    font-size: 14px;
    margin: 40px 40px 0
}

.landing .box .right-box .text .using{
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    width: 450px;
    height: 20px;
    border-radius: 20px;
    background-color: hsl(229, 57%, 11%);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.landing .box .right-box .text .using span{
    position: absolute;
    background-image: linear-gradient(to right, #fe9c97, #fe5995);
    width: 80%;
    height: inherit;
    border: 2px solid hsl(229, 57%, 11%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}



.landing .box .right-box .text .using::before{
    position: absolute;
    content: '';
    z-index: 100;
    width: 15px;
    height: 15px;
    margin-left: 77%;
    margin-top: 2px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.landing .box .right-box .text .using::after{
    position: absolute;
    content: '185 GB LEFT';
    color: hsl(229, 57%, 11%);
    font-size: 20px;
    text-align: center;
    line-height: 2;
    padding-top: 10px;
    font-weight: bold;
    right: 0;
    bottom: 65px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    background: white;
}

.landing .box .right-box .text .using i{
    position: absolute;
    color: white;
    right: 1px;
    bottom: 49px;
}



.landing .box .right-box .information{
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
    
}



.landing .box .right-box .information p{
    color: white;
}










.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*small*/
@media (min-width:768px){
    .container{
        width: 750px;
    }
}

/*medium*/
@media (min-width:992px){
    .container{
        width: 970px;
    }
}

/*large*/
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}